<div class="table-container" role="table" aria-label="simulations">

  <!--  TABLE HEADER -->
  <div class="flex-table header" role="rowgroup">
    <div class="flex-row " role="columnheader">Health states</div>
    <div class="flex-row" role="columnheader">Pre-treatment</div>
    <div class="flex-row" role="columnheader">Post-treatment</div>
    <div class="flex-row stretch" role="columnheader">Drugs used</div>
  </div>
  <div class="flex-table row" role="rowgroup" *ngFor="let simulation of simulationHistory.slice().reverse()">
    <div class="column">

      <!--      SIM ELEMENT DISPLAY-->
      <div class="flex-row" *ngFor="let results of simulation.results, let i= index">
        <div class="flex-cell" role="cell"
             [id]="'health-state-'+ i">{{fullHealthStateNames[results.healthState]}}</div>

        <div class="flex-cell" role="cell" [id]="'pre-treat-'+ i"
             [ngClass]="{'zero-patients':results.preTreatment == 0}">{{results.preTreatment}}</div>

        <div class="flex-cell" role="cell" [id]="'post-treat-'+ i"
             [ngClass]="{'zero-patients':results.postTreatment == 0}">{{results.postTreatment}}</div>
      </div>
    </div>
    <div class="flex-row rowspan first">

      <ul>
        <!--        DRUGS DISPLAY-->
        <ng-container *ngIf="simulation.usedDrugs[0] != ''">
          <li [id]="'case-there-are-drugs-'+i" *ngFor="let drug of simulation.usedDrugs,let i=index">
            {{fullDrugNames[drug]}}
          </li>
        </ng-container>
        <!--        DRUGS DISPLAY CASE ZERO-->
        <li [id]="'case-no-drugs'" *ngIf="simulation.usedDrugs[0] == ''">
          No treatment administrated
        </li>
      </ul>
    </div>
  </div>

  <!--  CASE ZERO HISTORY IS EMPTY-->
  <div id="zero-case-simulation-history" class="rowspan zero-case-simulations" *ngIf="simulationHistory.length == 0">
    Run a simulation to see data
  </div>
</div>
