<div class="control-panel-container" [formGroup]=controlPanelForm>
  <div class="button-group">
    <button [disabled]="matSlideToggle.checked" class="control-button" color="primary" mat-raised-button
            id="get-sim-data"
            (click)="getSimulationData()"> Get simulation data
    </button>
    <button [disabled]="matSlideToggle.checked" class="control-button" color="warn" mat-raised-button
            (click)="startSimulation()" id="run-sim"> Administer Drugs
    </button>
  </div>
  <mat-slide-toggle #matSlideToggle color="primary" formControlName='autoSimulationSwitch' id='auto-sim-toggle'>
    Automate Simulation
  </mat-slide-toggle>
  <div class="button-group">
  </div>
</div>
