<div class="control-panel-container" formGroup="form" >
  <div>
    <button color="primary" mat-flat-button (click)="getSimulationData()"> Get simulation  </button>
    <mat-slide-toggle formControlName='autoSimulationSwitch'
                    > Automate Simulation </mat-slide-toggle>

<!--    <mat-slide-toggle [checked]="X.value" (click)="X.value =!X.value" color="primary">{{X.value ? 'ON' : 'OFF'}}</mat-slide-toggle>-->
  </div>
  <div>
    <button color="primary" mat-flat-button (click)="startSimulation()"> Administer Drugs  </button>
  </div>
</div>
