$disabled-primary: #c2185b87;
$disabled-secondary: #a0a0a0;
$disabled-text: #d9d9d9;
$row-bg: #f4f2f1;


.control-panel-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: start
}

::ng-deep{

}

.control-button{
  margin: 0.5rem;
}

.button-group {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-content: space-around;
}
